* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

h1 {
  text-align: center;
  margin: 1em;
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-container {
  width: 100%;
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

button {
  height: 1rem;
  width: 30%;
  padding: 1rem;
  color: blue;
  background-color: rgb(139, 118, 0);
  font-size: 1rem;
  border-radius: 3rem;
}

.align {
  margin-left: 2rem;
}
#ball {
  margin-top: 5rem;
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  font-size: 2rem;
  font-weight: bold;
}
#img-ball {
  height: 100%;
  background-image: url(../img/s-l500.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#visualizza-frase {
  text-align: center;
  margin-bottom: 1rem;
}
